extends /bootstrap.pug

block title 
  | Emoji Generator

block extrahead
  style.
    h1 { margin-bottom: 2rem; }
    .shortname { font-weight: bold; color: firebrick; font-size: 2rem; }
    .buttons { margin-bottom: 2rem; }
    .buttons button { margin-right: 0.5rem; }
    button.generate { margin-right: 4rem; }
    .size { margin-right: 0.8rem; font-size: 1.8rem; font-weight: bold; }

block extrascript
  //script(src='https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/lib/js/emojione.min.js')
  script(src='https://cdn.jsdelivr.net/emojione/3.0.1/lib/js/emojione.min.js')
  script(src='Main.elm')
  script(src='main.js')    
    
block content
  h1 Emoji Generator

  #main
