extends /bootstrap.pug

block title 
  | Emoji Generator

block extrahead
  style.
    .emoji { margin-bottom: 2rem; }
    .shortname { font-weight: bold; color: firebrick; }
    button.generate { margin-right: 3rem; }

block extrascript
  script(src='https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/lib/js/emojione.min.js')
  script(src='Main.elm')
  script(src='main.js')    
    
block content
  h1 Emoji Generator

  #main
