extends /base.pug

block title 
  | Dinner Calculator

block scripts
  script(src='Main.elm')
  script.
    Elm.Main.embed(document.getElementById('main'))
    
block content
  h1 Dinner Calculator

  p Use this program to help split the bill at a group dinner party.

  #main
