.payers 
    button 
        margin-right 2rem 

    .payer
        padding 0.5rem 1rem
        border 1px solid gray
        border-radius 1rem
        margin-right 1rem
        background-color whitesmoke
        display inline-block

    .glyphicon
        margin-right 1rem
        cursor pointer

.existing-items 
    border-bottom 1px dashed gray
    margin-bottom 1rem