extends /bootstrap.pug

block title 
  | Players

block extrahead 
  link(rel='stylesheet', href='style.styl')

block extrascript
  script(src='Main.elm')
  script.
    Elm.Main.embed(document.getElementById('main'))
    
block content
  p Based on the sporto's #[a(href="https://www.elm-tutorial.org/") Elm Tutorial].

  hr

  #main