h1 
    color white
    background-color black
    padding 1rem

.players
    margin-left 1rem

.player 
    .nav 
        margin-bottom 2rem
        font-size 2rem

    .back 
        margin-right 0.5rem 
    .edit 
        .level
            font-size: 1.5rem 
            margin-right 2rem

        button 
            margin-right: 1rem