input.message 
    width 20rem
    margin-bottom 1rem

.radiogroup
    margin-bottom 1rem

    label 
        margin-right 1rem

.output
    font-size 2rem
    margin-bottom 1rem

.emojis
    div
        display inline-block 
        padding 0 0.3rem
        font-size 2rem

        &.selected
            border 1px solid gray