extends /base.pug

block title 
  | Elm Ports

block scripts
  script(src='Main.elm')
  script(src='main.js')
    
block content
  h1 Elm Ports

  p Ports are Elm's way of interoperating with JavaScript.

  #main
