extends /base.pug

block title 
  | Elm Ports

block scripts
  script(src='Main.elm')
  script.
    let isSupported = window.speechSynthesis !== undefined
    let voices = isSupported ? window.speechSynthesis.getVoices() : []

    let app = Elm.Main.embed(document.getElementById('main'), {
      isSupported: isSupported,
      initialText: "Hey hey we're the Monkees, and we like to monkey around",
      voices: voices.map(v => {
        return {lang: v.lang, name: v.name}
      })
    })

    app.ports.speak.subscribe(function(text) {
      let utterance = new SpeechSynthesisUtterance(text)
      utterance.onstart = () => app.ports.speechStatus.send('start')
      utterance.onend = () => app.ports.speechStatus.send('end')
      speechSynthesis.speak(utterance)
    })

block content
  h1 Elm Ports

  p Ports are Elm's way of interoperating with JavaScript.

  #main
