extends /bootstrap.pug

block title 
  | Fullscreen Modal

block extrahead
  link(rel='stylesheet', href='style.styl')

block extrascript
  script(src='Main.elm')
  script.
    Elm.Main.embed(document.getElementById('main'))
    
block content
  h1 Fullscreen Modal

  #main
